tmp*
*.o
kcc
a.out
.bash_history
.lldb
core
.lesshst
.zcompdump
.zshrc
.clang-format
.viminfo
tests/*
!tests/tests.c
!tests/include.h
!tests/include1.h
!tests/include2.h
!tests/include3.h
!tests/extern.h
dump/
build/
build1/
build2/
build3/
